<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VisualApp.Properties.Settings.PatosDeGomaSqlServerConnectionString"
            connectionString="Data Source=UH-004-16\SQLEXPRESS;Initial Catalog=PatosDeGomaSqlServer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VisualApp.Properties.Settings.PatosDeGomaSqlServerConnectionString1"
            connectionString="Data Source=UH-004-16\SQLEXPRESS;Initial Catalog=PatosDeGomaSqlServer;User ID=Admin;Password=Admin123"
            providerName="System.Data.SqlClient" />
        <add name="VisualApp.Properties.Settings.PatosDeGomaConnectionString"
            connectionString="Data Source=192.168.65.17;Initial Catalog=PatosDeGoma;User ID=Admin;Password=Admin1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>